<% title "Phixter" %>

<p>
  <strong>Code:</strong>
  <%=h @phixter.code %>
</p>
<p>
  <strong>Uri:</strong>
  <%=h @phixter.uri %>
</p>
<p>
  <strong>Value:</strong>
  <%=h @phixter.value %>
</p>
<p>
  <strong>Status:</strong>
  <%=h @phixter.status %>
</p>

<p>
  <%= link_to "Edit", edit_phixter_path(@phixter) %> |
  <%= link_to "Destroy", @phixter, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", phixters_path %>
</p>
