<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="en" />
  <meta name="robots" content="noindex,nofollow" />

  <%= stylesheet_link_tag "reset", "main", "1col", "style", "mystyle"  %>
  <!--[if lte IE 6]>
    <%= stylesheet_link_tag "main-ie6" %>
  <![endif]-->
  
  <title>PhixterVisits <%= " | #{yield(:title)}"  unless yield(:title).blank? %></title>
</head>

<body>

<div id="main">

  <!-- Tray -->
  <div id="tray" class="box">

    <p class="f-left box">

      Phixter Visits: <strong>a way to <i>real</i> see your website visits</strong>

    </p>

    <p class="f-right">
      <% if current_user %>
        User: <strong><%= link_to current_user_name, edit_user_path(:current) %></strong> |
        <strong><%= link_to "Logout", logout_path %></strong>
      <% else %>
        <strong><%= link_to "Register", new_user_path, :id => 'logout' %></strong> |
        <strong><%= link_to "Login", login_path %></strong>
      <% end %>
    </p>

  </div> <!--  /tray -->

  <hr class="noscreen" />



  <hr class="noscreen" />

  <!-- Columns -->
  <div id="cols" class="box">


    <hr class="noscreen" />

    <!-- Content (Right Column) -->
    <div id="content" class="box">

      <h1><%= link_to 'Phixter Visits', root_path %></h1>


      <!-- System Messages -->
      <% flash.each do |key, msg| %>
        <%= content_tag :p, msg, :id => key, :class => "msg #{key}" %>
      <% end %>

      <!-- Menu -->
      <% if current_user %>
        <div class="tabs box">
          <ul>
            <li class="<%= 'ui-tabs-selected'  if @controller.controller_name == 'phixters' %>">
              <%= link_to "<span>My Phixters</span>", phixters_path %>
            </li>
            <li class="<%= 'ui-tabs-selected'  if @controller.controller_name == 'users' %>">
              <%= link_to "<span>My Account</span>", edit_user_path(:current) %></a>
            </li>
          </ul>
        </div> <!-- /tabs -->
      <% end %>
      
      <%= yield %>
      
      <div class="fix"></div>




    </div> <!-- /content -->

  </div> <!-- /cols -->

  <hr class="noscreen" />

  <!-- Footer -->
  <div id="footer" class="box">

    <p class="f-left">&copy; 2009 <a href="#">Your Company</a>, All Rights Reserved &reg;</p>

    <p class="f-right">Templates by <a href="http://www.adminizio.com/">Adminizio</a></p>

  </div> <!-- /footer -->

</div> <!-- /main -->

</body>
</html>