<% title "Login" %>



<!-- Tab01 -->
<div>
  <p>Introduce your email and password.</p>
</div> <!-- /tab01 -->




<!-- Form -->
<% form_for @user_session do |f| %>
<%= f.error_messages %>
<fieldset>
  <legend>Login</legend>
  <table class="nostyle">
    <tr>
      <td style="width:170px;"><%= f.label :email %></td>
      <td><%= f.text_field :email, :size => '40', :class => 'input-text' %></td>
    </tr>

    <tr>
      <td style="width:170px;"><%= f.label :password %></td>
      <td><%= f.password_field :password, :size => '40', :class => 'input-text' %></td>
    </tr>

    <tr>
      <td colspan="2" class="t-right"><%= f.submit "Login", :class => 'input-submit' %></td>
    </tr>
  </table>
</fieldset>
<% end %>

<p><%= link_to '<span><strong>Forgot password? &raquo;</strong></span>', new_password_reset_path %></p> 



